# Les variables et les types de variables

## Les variables

### Déclarer une variable

In [10]:
formateur = "Charles"

nombre_apprenants = 12

# double déclaration
apprenant = eleve = "Antoine"
print(eleve)
print(apprenant)



apprenant = "Patrick"
print(eleve)
print(apprenant)

Antoine
Antoine
la valeur de elevel est  Antoine
Patrick

### Afficher une variable

In [14]:
# affichage d'une variable
print(formateur)

# affichage de plusieurs éléments 
print("nombre_apprenants:",  nombre_apprenants)

print(formateur, nombre_apprenants, eleve)


# commentaire avec l'attribut format
print( "{} a {} apprenants dans sa formation, dont:  {}".format(formateur,nombre_apprenants,apprenant))


# commentaires avec les f-strings
print( f"{formateur} a {nombre_apprenants} apprenants dans sa formation, dont:  {apprenant}")

print (f"{formateur=}")

Charles
nombre_apprenants: 12
Charles 12 Antoine
Charles a 12 apprenants dans sa formation, dont:  Patrick
Charles a 12 apprenants dans sa formation, dont:  Patrick
formateur='Charles'

In [17]:
ma_liste = [formateur,eleve,nombre_apprenants]

print( "{} a {} apprenants dans sa formation, dont:  {}".format(*ma_liste))

Charles a Antoine apprenants dans sa formation, dont:  12

### Modifier une variable

In [20]:
eleve = "Antoine"

eleve = "Denis"

nombre_apprenants_plus_deux = nombre_apprenants + 2
nombre_apprenants_plus_deux

nombre_apprenants = nombre_apprenants + 2
nombre_apprenants

nombre_apprenants += 2

print("nombre_apprenants: ", nombre_apprenants)
print("apprenant: ", apprenant)
print("eleve: ", eleve)

eleve = 7
print(eleve)

14

### Supprimer une variable

In [21]:
eleve = "Denis"

eleves = "Antoine"

In [22]:
del eleves

### Nommer une variable avec la Pep-8

- Mettez un espace avant et après le signe égal
   - apprenant = "Charles" et non apprenant="Charles"
- Utilisez des noms descriptifs dans votre code.
   - exemple: Au lieu de  quantite  (ou pire,qte), ajoutez des détails :quantite_en_stock,solde_actuel, etc.
- Utilisez des mots complets.
   - exemple,revenu_annuelest plus clair querev_annuel.
- Suivez une convention d’appellation commune.
   - le snake case : des noms composés de plusieurs mots séparés par des tirets bas(_)
      - exemple nombre_de_chats,  reponse_finale  ,  le_meilleur_developpeur_python_du_monde, etc.
   - commencez avec une lettre minuscule (surtout pas par un nombre)
   - Utilisez uniquement des caractères alphanumériques et des tirets bas... et donc pas d'accents !
- N’oubliez pas que les noms de variables sont sensibles à la casse.
   - age,  Age  et  AGE  sont trois variables différentes.

### S'exercer à manipuler les variables

**`Exercice`**: créez l'état civil de votre voisin 
- déclarer les variables nom, prénom et deuxième prénom puis une variable nom complet à l'aide des trois précédentes en les concaténant à l'aide de l'opérateur + 
- déclarer les variables année actuelle et année de naissance puis créer la variable âge à l'aide des deux pécédentes en les soustrayant
- remplacer la valeur de la variable nom par celle de nom complet puis supprimer la variable nom complet

## Les types primitifs de variable

In [69]:
# Les "integers", ou nombres entiers en français
nombre_apprentants = 7
print(type(nombre_apprentants),nombre_apprentants)

<class 'int'> 7

In [29]:
# Les "floats", ou nombres à virgule en français
age_moyen_promo = 25.0
print(type(age_moyen_promo), age_moyen_promo)

<class 'float'> 25.0

In [32]:
# Les "strings" (str), ou chaines de caractères en français
apprenant = "Charles"
print(type(apprenant), apprenant)

<class 'str'> Charles

In [36]:
# Les "Booléens" (bool), ou booléen en français, c'est à dire vrai ou faux
booleen_vrai = True
booleen_faux = False

est_ce_que_1_est_supérieur_a_2 = 1 > 2

print(type(est_ce_que_1_est_supérieur_a_2),est_ce_que_1_est_supérieur_a_2)

<class 'bool'> False

## Les integers et les floats en détail

### Opérations sur les integers et les floats

In [43]:
x = 12.5
y = 3

#la somme de x et y (x plus y).
somme = x + y   
print (f"{somme=}")

#la différence entre x et y 
difference = x - y 
print (f"{difference=}")

#le produit de x et y
produit = x * y 
print (f"{produit=}")

# le quotient de x et y (x divisé par y).
quotient = x / y 
print (f"{quotient=}")

# le quotient de x et y sans reste.
quotient_sans_reste = x // y 
print (f"{quotient_sans_reste=}")

# le reste de x divisé par y.
reste = x % y  
print (f"{reste=}")

# x à la puissance y
puissance = x**y
print (f"{puissance=}")

somme=15.5
difference=9.5
produit=37.5
quotient=4.166666666666667
quotient_sans_reste=4.0
reste=0.5
puissance=1953.125

**`Exercice 1`**: Quelle est la valeur prise par z? (de tête)

In [24]:
x = 13
y = 4

In [ ]:
z = x > (( x // y ) * y) + (x % y)

**`Exercice 2`**: Add parentheses to the following expression so that it evaluates to 1.

In [46]:
print( 5 - 3 // 2)

1

**`Exercice 3`**: Add parentheses to the following expression so that it evaluates to 0.

In [47]:
print(8 - 3 * 2 - 1 + 1)

0

**`Exercice 4`**: 
Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves. For the sake of their friendship, any candies left over will be smashed. For example, if they collectively bring home 91 candies, they'll take 30 each and smash 1.

Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

In [48]:
# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109

# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies

1

### fonctions utiles liées aux integers ou aux float

In [60]:
x = -22.9876

# Valeur absolue de x
abs(x)

# obtenir l'arrondi d'un float
round(x,2)

# Convert an object to integer
s = "8"

type(s)

s*8

s_as_an_integer = int(s)

8 * s_as_an_integer


# Convert an object to float

s_as_a_float = float(s_as_an_integer)
s_as_a_float

8.0

PLus de méthodes dans la documentation: https://docs.python.org/3/library/stdtypes.html

## Les strings en détail

### Les astuces concernant les strings

In [67]:
# Pour utiliser le symbole ` dans une string il faut écrire \``	
a_string = "J'aime \"le\" Python!"
print(a_string)

# Pour sauter une ligne \n
a_string_with_a_space =	"a line \n to an another"


print(a_string_with_a_space)

J'aime "le" Python!
a line
 to an another

### Le parcours des chaines de caractères

In [74]:
indice = 2
the_string = "string"

# Renvoie le n ème élément d'une liste 
print(the_string[indice])

r

### fonctions utiles

In [75]:
# Renvoie le nombre de caractère dans la string
len(the_string)

6

### Les méthodes de la classe str

In [88]:
my_string = "quelle belle journée belle journée"

# Mettre tout en minuscule
lower_string = my_string.lower()
lower_string

# Mettre tout en majuscule
upper_string = my_string.upper()
upper_string

# Mettre une majuscule au début
capitalized_string = my_string.capitalize()
capitalized_string

# Remplacez une expression
replaced_string = my_string.replace("journée", "soirée")
replaced_string

# Cherchez un bout de la chaine
emplacement_de_belle = my_string.find("b", 8)
emplacement_de_belle


# Compte le nombre de fois ou apparait un caractère
count_string = my_string.count("l")
count_string



# Remplace les {} par la valeur définie dans format
my_string = "Quelle {} et {} journée".format("belle", "bonne")
my_string = "Quelle {adjectif_1} et {adjectif_2} journée".format(adjectif_2="belle", adjectif_1="bonne")

['quelle', 'belle', 'journée', 'belle', 'journée']

In [71]:
print("my_string :", my_string)
print(f"{my_string=}")

my_string : Quelle bonne et belle journée
Quelle bonne et belle journée

**`Exercice`**: travaillez sur la définition de python 
- remplacez python par lovely python partout dans la chaine de caractère suivante
- Affichez la chaine suivante en une seule chaine de caractères en sautant une ligne entre chaque phrase et en faisant commencer chaque phrase par une majuscule.
    
indice: 
- On calcule le nombre d'élément d'une liste de la meme manière qu'on calcule la longueur d'une chaine de caratère
- On accède au nème éléments d'une liste de la même manière qu'on accède nème caractère d'une chaine de caractères.

In [91]:
python_definition = "python is an interpreted high-level general-purpose programming language. its design philosophy emphasizes code readability with its use of significant indentation. its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects."

Lovely python is an interpreted high-level general-purpose programming language.
Its design philosophy emphasizes code readability with its use of significant indentation.
Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.

## Les booléens en détail

In [96]:
true = True
a = 8

b ="8"

In [100]:
8.0 == 8

True

In [105]:
true = True
false = False


x = 8
y = 9
z = [7 ,8 ]

"""Les booléens sont souvent le résultat d'une comparaison """

print( x == y ) #equal

print( x != y ) # not equal

print( x < y ) #strictly less than

print( x <= y ) #less than or equal

print( x > y ) #strictly greater than

print( x >= y ) #greater than or equal

""" ou le résultat d'affirmation """

print (isinstance(x,int))

print( x in z) # appartenir

print( y not in z ) # ou ne pas appartenir

""" enfin ils peuvent être combiné grâve à des opérateurs logique """
t = True
f = False

print( t and f) # s'écrit aussi &
print( t or f) # s'écrit aussi | 
print( not t)
print( not f)

False
True
True
True
False
False
True
True
True
False
True
False
True

In [116]:
if 0:
    print("hello")